<section class="gh-view">
    <header class="view-header">
        {{#gh-view-title openMobileMenu="openMobileMenu"}}<span>代码注入</span>{{/gh-view-title}}
        <section class="view-actions">
            {{#gh-spin-button class="btn btn-blue" action="save" submitting=submitting}}保存{{/gh-spin-button}}
        </section>
    </header>

    <section class="view-content">
        <form id="settings-code" novalidate="novalidate">
            <fieldset>
                <p>
                    Ghost允许您将代码注入到主题文件的顶部和底部，而无需对其进行编辑。 这允许快速修改以插入有用的东西，如跟踪代码和元标记.
                </p>

                <div class="form-group settings-code">
                    <label for="ghost-head">博客页头</label>
                    <p>此处的代码将注入到您博客每一页的 <code>\{{ghost_head}}</code> 标记</p>
                    {{gh-cm-editor model.ghost_head id="ghost-head" class="gh-input settings-code-editor" name="codeInjection[ghost_head]" type="text" update=(action (mut model.ghost_head))}}
                </div>

                <div class="form-group settings-code">
                  <label for="ghost-foot">博客页脚</label>
                    <p>此处的代码将注入到您博客每一页的 <code>\{{ghost_foot}}</code> 标记</p>
                    {{gh-cm-editor model.ghost_foot id="ghost-foot" class="gh-input settings-code-editor" name="codeInjection[ghost_foot]" type="text" update=(action (mut model.ghost_foot))}}
                </div>
            </fieldset>
        </form>
    </section>
</section>
