<label for="activeTimezone">时区</label>
<span class="gh-select" data-select-text="{{selectedTimezone.label}}" tabindex="0">
    {{gh-select-native
        id="activeTimezone"
        name="general[activeTimezone]"
        content=selectableTimezones
        optionValuePath="name"
        optionLabelPath="label"
        selection=selectedTimezone
        action="setTimezone"
    }}
</span>
{{#if hasTimezoneOverride}}
    <p>您的时区已自动设置为 {{activeTimezone}}.</p>
{{/if}}
<p>这里的当地时间是目前 {{localTime}}</p>
