<header class="modal-header">
    <h1>你确定?</h1>
</header>
<a class="close icon-x" href="" title="Close" {{action "closeModal"}}><span class="hidden">关闭</span></a>

<div class="modal-body">
    <strong>WARNING:</strong> 此订阅者的所有数据将被删除, 没有办法恢复这个.
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="btn btn-default btn-minor">取消</button>
    {{#gh-spin-button action="confirm" class="btn btn-red" submitting=submitting}}删除{{/gh-spin-button}}
</div>
