<header>
    <h1>欢迎来到 <strong>Ghost</strong>!</h1>
    <p>在世界各地，人们已经使用Ghost启动了 <em>{{model.count}}</em> 令人难以置信的博客. 今天，我们开始了你的.</p>
</header>

<figure class="gh-flow-screenshot">
    <img src="{{gh-path 'admin' 'img/install-welcome.png'}}" alt="Ghost screenshot" />
</figure>

{{#link-to "setup.two" classNames="btn btn-green btn-lg"}}
    创建您的帐户 <i class="icon-chevron"></i>
{{/link-to}}
