<header>
  <h1>邀请您的团队</h1>
  <p>当与他人分享时，Ghost效果最佳。 协作，获取有关您的帖子和反馈的反馈 共同合作的想法。</p>
</header>

<div><img class="gh-flow-faces" src="{{gh-path 'admin' 'img/users.png'}}" alt="" /></div>

<form class="gh-flow-invite">
    {{#gh-form-group errors=errors hasValidated=hasValidated property="users"}}
        <label for="users">每行输入一个电子邮件地址，我们将处理其余的！ <i class="icon-mail"></i></label>
        {{gh-textarea users name="users" required="required" focusOut=(action "validate") update=(action (mut users))}}
    {{/gh-form-group}}

    {{#gh-spin-button type="submit" action="invite" classNameBindings=":btn :btn-default :btn-lg :btn-block buttonClass" submitting=submitting autoWidth="false"}}{{buttonText}}{{/gh-spin-button}}
</form>

<button class="gh-flow-skip" {{action "skipInvite"}}>
  以后再说，带我到我的博客！
</button>
