<div class="no-posts-box">
    {{#if noPosts}}
        <div class="no-posts">
            <h3>你还没有写任何帖子！!</h3>
            {{#link-to "editor.new"}}<button type="button" class="btn btn-green btn-lg" title="New Post">写一个新的帖子</button>{{/link-to}}
        </div>
    {{/if}}
</div>
